<div class="ui-fluid">
    <div class="moduleGraph">
      <div align="center">
        <google-chart *ngIf="activateStacked" [data]="stackedColumnChart"></google-chart>
        <google-chart [data]="columnChart"></google-chart>
      </div>
    </div>
    <!-- moduleGraph end -->
    <div class="container">
      <div class="example-container shadow-lg table-container">
        <table mat-table [dataSource]="displayAllData" matSort class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="Sl.No">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="angulartheadColor"> Sl.No </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Module">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="angulartheadColor">Module</th>
            <td mat-cell *matCellDef="let element"><a mat-link (click)="fetchFeatureOnMod(element.moduleName)"
                [routerLink]="['/projectdetail/dashboard/detailedreports/modulereports/featurereports']">
                {{element.moduleName}} </a></td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Testcase Count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="angulartheadColor">Testcase Count</th>
            <td mat-cell *matCellDef="let element"> {{element.testcaseCount}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Executed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="angulartheadColor">Executed </th>
            <td mat-cell *matCellDef="let element"> {{element.executedCount}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Pass">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="angulartheadColor">Pass </th>
            <td mat-cell *matCellDef="let element"> {{element.pass}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Fail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="angulartheadColor">Fail </th>
            <td mat-cell *matCellDef="let element"> {{element.fail}} </td>
          </ng-container>

          <ng-container matColumnDef="Pass Percentage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="angulartheadColor">Pass Percentage </th>
            <td mat-cell *matCellDef="let element">{{element.passPercent | number:'1.0-0'}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="detailedReport"></tr>
          <tr mat-row *matRowDef="let row; columns: detailedReport;"></tr>
        </table>
      </div>
    </div>
</div>
<!-- module End -->