<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM 'http://testng.org/testng-1.0.dtd'>
<suite thread-count="1"  name="manjunathsuit" parallel="tests" >
<test name="Opal1">
<parameter name="Node" value="http://192.168.99.253:4444"/>
<classes><class name="mID642.fID681.sID885"/></classes>
</test>
</suite>