<!-- <ul class="breadcrumb" style="font-size:15px;background-color: unset;margin:unset"> -->
  <!-- <li class="breadcrumb-item" style="width: 97px;"><a [routerLink]="['/projectdetail']" id="mainheader">SearchContext</a></li> -->
   <div class="container"></div>
    <div class="col-md-12 col-sm-15 col-xs-12">
      <div class="search_wrap search_wrap_1">
        <div class="search_box">
          <input type="text" name="text" class="input" placeholder="Search here!">
          <div class="btn btn_common">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
    

<Hr>
  
  <!-- <div class="container-fluid">
    <div class="col-md-12 col-sm-15 col-xs-12">
      <div class="search_wrap search_wrap_1">
        <div class="search_box">
          <input type="text" name="text" class="input" placeholder="Search here!">
          <div class="btn btn_common">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
       -->
        <!-- <h1>
        <input type="text" id="search" name="search" width="70%" ></h1>
        <br>
        <input type="submit" value="Search"> -->
      
  <!-- <form action="/form/submit" method="GET"> 
    <h1><input type="text" name="text" class="search" placeholder="Search here!" ></h1>
    <input type="submit" name="submit" class="submit" value="Search">
  </form> -->
