<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container-fluid" style="padding:unset">
  <div class="d-flex topColor" style="font-size: 18px">
    <div class="p-2 mr-auto ">Test Sage</div>
    <div class="p-2 ">{{newRole}}</div>
    <!-- <div class="p-3 ml-auto "><i class="fa fa-fw fa-user-circle"></i></div> -->
    <div class="p-2 ml-auto navbar " style="margin:unset">
      <div class="navbar-header col">
        <ul class="nav navbar-nav navbar-right ml-auto">
          <li class="nav-item dropdown"> <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"
              style="background-color: unset;"><i class="img fa fa-user-o"></i> {{newUserName}}</a>
            <ul class="dropdown-menu " style="position:absolute">
              <li><a class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
              </li>
              <li><a class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
              </li>
              <li><a class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
              </li>
              <li class="divider dropdown-divider"></li>
              <li><a href="#" class="dropdown-item" (click)="logoutDocker()"><i class="material-icons">&#xE8AC;</i>
                  Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <label style="margin-left:2%">Select Project</label>
    <select class="but1" [(ngModel)]="projectName" (change)="selectProject(projectName)">
      <option></option>
      <option *ngFor="let projects of allWithProjects"> {{projects.projectSelection}}</option>
    </select>

    <span>
      <input type="text" list="browsers" (change)="selectProject(SelctedProjectName)" [(ngModel)]="SelctedProjectName"
        class=" but3 fa fa-search" placeholder="Search  ">
    </span>
    <datalist id="browsers">
      <option></option>
      <option *ngFor="let projects of allWithProjects"> {{projects.projectSelection}}</option>
    </datalist>
    <button type="button" class="btn  but2   some-text" data-toggle="modal" data-target="#myModal">Create user</button>
  </div> <br>
  <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8 col8">
    <table class="shadow-lg table-striped scroll" style="border:unset;width:140%;margin:auto;margin-left:6%">
      <thead class="block theadColor">
        <tr>
          <th class="thdata" style="width:20%;padding: 8px">User </th>
          <th class="thdata" style="width:20%;padding: 8px">Role </th>
          <th class="thdata" style="width:20%;padding: 8px">Created by </th>
          <th class="thdata" style="width:20%;padding: 8px">Date </th>
          <th class="thdata" style="width:20%;padding: 8px">Edit</th>
          <th class="thdata" style="width:20%;padding: 8px">Delete</th>
        </tr>
      </thead>
      <tbody class="block bodyHeight">
        <tr *ngFor="let admin of allUsersProjects;let i='index'">
          <td style="width:20%">{{admin.userName}}</td>
          <td style="width:20%">{{admin.roleName}}</td>
          <td style="width:20%">{{admin.CreatedBy}}</td>
          <td style="width:20%;padding: 8px">{{admin.CreatedDate | date:'dd-MM-yy'}}</td>
          <td style="width:25%;padding: 8px">
            <span class="glyphicon glyphicon-pencil btn btn-info btn-lg" (click)="editUserRoles(admin)"
              data-toggle="modal" data-target="#myModalEdit"></span>
          </td>
          <td style="width:25%">
            <span class="glyphicon glyphicon-trash btn btn-info btn-lg"
              (click)="deleteUserRole(admin,projectName)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title"></h1>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <label>Project</label>
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <label>User Roles </label>
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <label>Username</label>
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <label>Password</label>
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <label>Work Email </label>
              </div>
            </div>
            <div class="col-sm-6">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group excelTable">

                  <input type="text" style="margin-top:5px " [(ngModel)]="projectName" formControlName="projectName"
                    class="form-control excelInput" disabled />
                </div>
                <div class="form-group excelTable">
                  <select [(ngModel)]="rolesName" style="height: 40px;
                          margin-top: -13px;" formControlName="rolesName" class="form-control excelInput">
                    <option></option>
                    <option *ngFor='let user of userRolesForUI'>{{user}}</option>
                  </select>
                  <control-messages [control]="registerForm.controls.rolesName"></control-messages>
                </div>
                <div class="form-group excelTable">

                  <input type="text"style="margin-top: -7px" (change)="selUser(userName)" list="usersList" maxlength="30" 
                    [(ngModel)]="userName" formControlName="userName" class="form-control excelInput">
                  <control-messages [control]="registerForm.controls.userName"></control-messages>
                </div>
                <div class="form-group excelTable">

                  <input type="password" formControlName="password" style="margin-top:-21px;" [(ngModel)]="password"
                    class="form-control excelInput" />
                  <control-messages [control]="registerForm.controls.password"></control-messages>
                </div>
                <div class="form-group excelTable">

                  <input type="text" formControlName="email" class="form-control excelInput" [(ngModel)]="email" />
                  <control-messages [control]="registerForm.controls.email"></control-messages>
                </div>
                <div class="form-group">
                  <button [disabled]="!registerForm.valid" style="margin-left: 11px;margin-top:-14px"
                    class="btn btn-default" (click)="saveProjectList(projectName)" data-dismiss="modal">Save</button>
                  <button type="button" style="margin-left :130px;margin-top:-60px" class="btn btn-default"
                    (click)="cancelFileds()" data-dismiss="modal">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="myModalEdit" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title"></h1>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <label>Project</label>
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <label>user Roles </label>
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <label>Username</label>
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <label>Password</label>
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <label>Work Email </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row excelTable" style="margin-top:-15px">&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="text" class="excelInput" [(ngModel)]="projectName" disabled>
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;

                <select class="excelInput" [(ngModel)]="rolesName">
                  <option></option>
                  <option *ngFor='let user of userRolesForUI'>{{user}}</option>
                </select>
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="text" class="excelInput" (focusout)="selUser(userName)" list="usersList" maxlength="30"
                  [(ngModel)]="userName">
                <datalist id="usersList">
                  <option></option>
                  <option></option>
                  <option *ngFor="let admin123 of allUsersSeleted">{{admin123.userName}}</option>
                </datalist>
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="password" class="excelInput" [(ngModel)]="password">
              </div>
              <div class="row excelTable">&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="mail" class="excelInput" [(ngModel)]="mail">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            (click)="updateusers(projectName,rolesName,userName,password,mail)" style="margin-right: 12.25rem;"
            data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 23px"
            (click)="cancelProject()">Close</button>
        </div>
      </div>
    </div>
  </div>