<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="padding: 10px;">
      <div class="card" style="height:15vh;background-color: yellow;">

      </div>

    </div>
    <div class="col-4 ">
      <div class="card " style="height: 35vh;">
        <img class="card-img-top" src="/assets/images/linegraph.jpg" alt="Card image">
        <div class="tooltip">Hover over me
          <span class="tooltiptext">Tooltip text</span>
        </div>  
      </div>
    </div>
    <div class="col-4 ">
      <div class="card" style="height: 35vh;">
        <img class="card-img-top" src="/assets/images/bar.jpg" alt="Card image">
      </div>
    </div>
    <div class="col-4 ">
      <div class="card" style="height: 35vh;">
        <img class="card-img-top" src="/assets/images/linegraph.jpg" alt="Card image">
      </div>
    </div>
    <div class="col-4 ">
      <div class="card" style="height: 35vh;">
        <img class="card-img-top" src="/assets/images/bar.jpg" alt="Card image">
      </div>
    </div>
    <div class="col-4 ">
      <div class="card" style="height: 35vh;">
        <img class="card-img-top" src="/assets/images/linegraph.jpg" alt="Card image">
      </div>
    </div>
    <div class="col-4 ">
      <div class="card" style="height: 35vh;">
        <img class="card-img-top" src="/assets/images/bar.jpg" alt="Card image">
      </div>
    </div>

  </div>
</div>