<!-- <ul class="breadcrumb topHeadingNames " style="background-color: #fff;">
  <li class="breadcrumb-item"><a [routerLink]="['/projectSelection']" id="mainheader">projectSelection</a></li>
</ul> -->
<ul>
  <br>
</ul>
<div class="container" *ngIf = "default == true">
  <div >
    <form>
      <div class="card createCard shadow-lg">
        <div class="card-header">Try another way to sign in</div>
        <div class="card-body">
          <!-- <div> -->        
            <div class="row fieldStyle">
              <div class="col-lg-5 col-md-4 col-sm-5 col-xs-6 labelClass">
                <label>UserName</label>
              </div>
              <div class="col-lg-7 col-md-8 col-sm-7 col-xs-6">
                <div class="row">
                  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <input class="form-control" placeholder="Name" name="e" [(ngModel)]="name">
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                </div>
              </div>
            </div>
            </div>
          <br>
          <div class="row fieldStyle">
            <div class="col-lg-5 col-md-4 col-sm-5 col-xs-6 labelClass">
              <label>EmailId</label>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-7 col-xs-6">
              <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
              <input class="form-control" placeholder="Email" name="e" [(ngModel)]="email">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
              </div>
            </div>
          </div>
          </div>
        </div>
        <div *ngIf="wrongCredetials==true" class="alert alert-danger">
          <strong>Invalid Username or Password !</strong> Please Try Again
        </div>
        <div class="card-footer fieldStyle">
          <button type="submit"  class="btn btn-info"  (click)="forgotPassword(email,name)">Submit</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="reset" class="btn btn-lg btn-cancel"  class="btn btn-light"
            data-dismiss="modal">Claer</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Send Email Otp -->

 

<div class="container"  *ngIf = "step1Verification == true">
  <div >
    <form>
      <div class="card createCard shadow-lg">
        <div class="card-header">Enter OTP</div>
        <div class="card-body">
          <!-- <div> -->        
            <div class="row fieldStyle">
              <div class="col-lg-5 col-md-4 col-sm-5 col-xs-6 labelClass">
                <label>Enter Receviec Otp</label>
              </div>
              <div class="col-lg-7 col-md-8 col-sm-7 col-xs-6">
                <div class="row">
                  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <!-- <i class='fas fa-key'></i> -->
                <input class="form-control" placeholder="OTP" name="e" [(ngModel)]="enterOtp">
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                </div>
              </div>
            </div>
            </div>
          <br>
        </div>
        <div *ngIf="wrongOtp==true" class="alert alert-danger">
          <strong>Invalid OTP !</strong> Please Try Again
        </div>
        <div class="card-footer fieldStyle">
          <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)="verifyEmailOtp(enterOtp)">Next</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="reset" class="btn btn-lg btn-cancel" class="btn btn-light"
            data-dismiss="modal">Clear</button>
        </div>
      </div>
    </form>
  </div>
 
</div>

<!-- Enter New Password -->

<div class="container"  *ngIf = "step2Verification == true">
  <div >
    <form>
      <div class="card createCard shadow-lg">
        <div class="card-header">Enter New Password</div>
        <div class="card-body">
          <!-- <div> -->        
            <div class="row fieldStyle">
              <div class="col-lg-5 col-md-4 col-sm-5 col-xs-6 labelClass">
                <label>New Password</label>
              </div>
              <div class="col-lg-7 col-md-8 col-sm-7 col-xs-6">
                <div class="row">
                  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <input type="password" class="form-control" placeholder="New Password" name="e" [(ngModel)]="newpwd">
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                </div>
              </div>
            </div>
            </div>
          <br>
          <div class="row fieldStyle">
            <div class="col-lg-5 col-md-4 col-sm-5 col-xs-6 labelClass">
              <label>Confirm Password</label>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-7 col-xs-6">
              <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
              <input  type="password" class="form-control" placeholder="Confirm Password" name="e" [(ngModel)]="cnfrmpwd">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
              </div>
            </div>
          </div>
          </div>
        </div>
        <div *ngIf="wrongPassNew==true" class="alert alert-danger">
          <strong>"The Passwords Don't Match</strong> Please Try Again
        </div>
        <div *ngIf="unablePassupdate==true" class="alert alert-danger">
          <strong>"Unable to Update Password</strong> Please Try Again
        </div>
        <div class="card-footer fieldStyle">
          <button  type="submit"  class="btn btn-info"  data-dismiss="modal"  (click)="updateNewPassword(newpwd,cnfrmpwd)">Save Password</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="reset" class="btn btn-lg btn-cancel"  class="btn btn-light"  data-dismiss="modal">Clear</button>
        </div>
      </div>
    </form>
  </div>
 
</div>